body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 60px;
    background-color: #8c7cc4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 80%;
    max-height: 80%;
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration-line: none;
    margin-right: 5px;
    border-right: 1px solid #fff;
    padding-right: 6px;
}

nav a:hover {
    text-decoration: underline;
}

.contato {
    border-right: none;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main section {
    width: 215px;
    height: 200px;
    padding-top: 10px;
    border-radius: 15%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.section1 {
    background-color: #6cab4c;
}

.section2 {
    background-color: #6cabdb;
}

.section3 {
    background-color: #f4b46c;
}

footer {
    height: 60px;
    background-color: #7f7f7f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
